@font-face {
  font-family: 'SharpUnity-Semibold';
  src: url(font-path('hinted-SharpUnity-Semibold.eot'));
  src: url(font-path('hinted-SharpUnity-Semibold.eot?#iefix')) format('embedded-opentype'),url(font-path('hinted-SharpUnity-Semibold.woff2')) format('woff2'),url(font-path('hinted-SharpUnity-Semibold.woff')) format('woff'),url(font-path('hinted-SharpUnity-Semibold.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharpUnity-Extrabold';
  src: url(font-path('hinted-SharpUnity-Extrabold.eot'));
  src: url(font-path('hinted-SharpUnity-Extrabold.eot?#iefix')) format('embedded-opentype'),url(font-path('hinted-SharpUnity-Extrabold.woff2')) format('woff2'),url(font-path('hinted-SharpUnity-Extrabold.woff')) format('woff'),url(font-path('hinted-SharpUnity-Extrabold.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}
